# ===========================================
# WORKER CONFIGURATION
# ===========================================

# Database Configuration
WORKER_POSTGRES_URL=postgresql://username:password@localhost:5432/sandbox_db

# Kubernetes Configuration
WORKER_KUBE_CONFIG_MODE=cluster
WORKER_KUBE_CONFIG_PATH=

# Worker Configuration
WORKER_MAX_CONCURRENT_WORKER=5

# S3 Configuration
WORKER_S3_ENDPOINT=https://s3.example.com
WORKER_S3_REGION=us-east-1
WORKER_S3_ACCESS_KEY=your-access-key
WORKER_S3_SECRET_KEY=your-secret-key
WORKER_S3_TEMPLATE_BUCKET_NAME=notebook-templates

# Storage Configuration
WORKER_STORAGE_CLASS_NAME=ebs-csi-storage-class

WORKER_CPU_NOTEBOOK_IMAGE="108779579607.dkr.ecr.ap-south-1.amazonaws.com/tgdex/ai-sandbox-cpu-notebook:latest"
WORKER_GPU_NOTEBOOK_IMAGE="108779579607.dkr.ecr.ap-south-1.amazonaws.com/tgdex/ai-sandbox-gpu-notebook:latest"
WORKER_INIT_CONTAINER_IMAGE="108779579607.dkr.ecr.ap-south-1.amazonaws.com/tgdex/demo-notebook-file:latest" 
WORKER_GPU_NODE_INSTANCE_TYPE=g4dn.xlarge
WORKER_CPU_NODE_INSTANCE_TYPES=t3a.2xlarge,c5a.4xlarge

# Image Pull Configuration
WORKER_IMAGE_PULL_ENABLED=false
WORKER_IMAGE_PULL_SECRET_NAME=

