WORKER_S3_ENDPOINT=""
WORKER_S3_REGION=""
WORKER_S3_ACCESS_KEY=""
WORKER_S3_SECRET_KEY=""
WORKER_S3_TEMPLATE_BUCKET_NAME=""
WORKER_POSTGRES_URL=""
WORKER_MAX_CONCURRENT_WORKER=1
WORKER_STORAGE_CLASS_NAME="standard"
WORKER_KUBE_CONFIG_PATH="/home/analytics/.kube/config"
WORKER_KUBE_CONFIG_MODE="local"