# api env
API_POSTGRES_URL=""
API_ADDRESS="0.0.0.0:3000"
API_KUBE_CONFIG_PATH="/home/analytics/.kube/config"
API_KUBE_CONFIG_MODE="local"
API_CORS_ORIGINS="http://localhost:3000,http://localhost:3001"
API_DEFAULT_STORAGE_SIZE="10Gi"
API_DEFAULT_CPU_REQUEST="1"
API_DEFAULT_CPU_LIMIT="2"
API_DEFAULT_MEMORY_REQUEST="2Gi"
API_DEFAULT_MEMORY_LIMIT= "4Gi"
API_DEFAULT_GPU_TYPE= "nvidia"
API_DEFAULT_GPU_LIMIT= "1"
API_KUBEFLOW_URL=""
API_NOTEBOOK_LIST_LIMIT= "10"
API_KEYCLOAK_URL=""
API_KEYCLOAK_REALM=""
API_RATE_LIMIT=60
API_RATE_BURST=10
API_KEYCLOAK_CLIENT_ID=""


# worker env
WORKER_S3_ENDPOINT=""
WORKER_S3_REGION=""
WORKER_S3_ACCESS_KEY=""
WORKER_S3_SECRET_KEY=""
WORKER_S3_TEMPLATE_BUCKET_NAME=""
WORKER_POSTGRES_URL=""
WORKER_MAX_CONCURRENT_WORKER=1
WORKER_STORAGE_CLASS_NAME="standard"
WORKER_KUBE_CONFIG_PATH="/home/analytics/.kube/config"
WORKER_KUBE_CONFIG_MODE="local"

# profile credit sync env
PROFILE_CREDIT_SYNC_OPENCOST_URL=""
PROFILE_CREDIT_SYNC_POSTGRES_URL=""
PROFILE_CREDIT_SYNC_BATCH_SIZE=1
PROFILE_CREDIT_SYNC_MAX_RETRIES=3

